.header{
  background-color: blue;
  height:130.5px;
  border:1px solid black;
}
.full-cover{
  margin:15px 10px 15px 10px;
}
.nav{
  background-color: green;
  height:60px;
  border:1px solid black;
}

.content{
  background-color: red;
  height: 345px;
  border:1px solid black;
}

.aside{
  background-color:rgba(102, 252, 255, 1);
  height:345px;
  border:1px solid black;

}

.promo{
  background-color: orange;
  height:165px;
  border:1px solid black;
}
.footer{
  background-color: black;
  height:60px;
  border:1px solid black;
}

/*****************************************Start of Media Quieries****************************/
@media /* Rule */ screen /*media*/ and (min-width:768px){
  .footer{
    background-color: white;
  }
}
@media /* Rule */ screen /*media*/ and (min-width:575px){
  .promo{
    background-color: #00ffcc;
  }
}
/*****************************************End of Media Quieries****************************/
