.header{
  background-color: blue;
  height:130.5px;
  border:1px solid black;
}

.nav{
  background-color: green;
  height:60px;
  border:1px solid black;
}

.content{
  background-color: red;
  height: 345px;
  border:1px solid black;
}

.aside{
  background-color:rgba(102, 252, 255, 1);
  height:345px;
  border:1px solid black;

}

.promo{
  background-color: orange;
  height:165px;
  border:1px solid black;
}
.footer{
  background-color: black;
  height:60px;
  border:1px solid black;

}
